In [2]:
import pandas as pd

data = pd.read_csv("data_cleaning/all-users-daily-data.csv")
data.head(50)

,userId,date,energy
0,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-03-27,30763556100
1,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-03-28,58586550155
2,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-03-29,92008548534
3,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-03-30,98802099448
4,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-03-31,105882932384
5,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-01,112838722001
6,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-02,119710898851
7,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-03,126672081876
8,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-04,133602783810
9,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-05,140666216447
10,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-06,165521296085
11,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-07,205856583434
12,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-08,277825815754
13,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-09,336074994220
14,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-10,408061022878
15,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-11,451607036330
16,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-12,523732787482
17,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-13,573260764606
18,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-14,584575986905
19,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-15,603245611268
20,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-16,673389425772
21,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-17,733440940583
22,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-18,768283690320
23,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-19,853336313905
24,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-20,881325232775
25,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-21,926422069848
26,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-22,962960877518
27,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-23,1035593729860
28,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-24,1083079014576
29,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-25,1139671515005
30,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-26,1225825460144
31,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-27,1254858970155
32,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-28,1290227690251
33,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-29,1339256277080
34,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-04-30,1360758460065
35,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-01,1374404726871
36,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-02,1404312819425
37,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-03,1465277522384
38,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-04,1479004079918
39,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-05,1490416652361
40,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-06,1567529805833
41,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-07,1635094369496
42,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-08,1701857179305
43,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-09,1728832108229
44,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-10,1753709016529
45,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-11,1787035946686
46,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-12,1811162640310
47,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-13,1862883582036
48,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-14,1923323118916
49,dc855763e35ff807b03cea634262f13afc6609d163df50...,2018-05-15,1954874249504

In [3]:
print(f"Tot records: {data.shape}")
print(data.dtypes)
data.nunique()

Tot records: (829521, 3)
userId    object
date      object
energy     int64
dtype: object

userId       969
date        1096
energy    828849
dtype: int64

In [4]:
data.isnull().sum()

userId    0
date      0
energy    0
dtype: int64

In [5]:
rows = []

start_date = ""
initial_energy = 0
final_energy = 0
user_id = ""

#count = 0
for ind, val in data.iterrows():
    if str(val["date"])[-2:] == "01":
        if data.iloc[ind-1]["userId"] == user_id:
            final_energy = data.iloc[ind-1]["energy"]
            monthly_consumption = (final_energy - initial_energy) / (pow(10, 10)) * 3
            new_row = {"userId" : user_id, 'date': start_date, 'energy': monthly_consumption}
            rows.append(new_row)
        user_id = val["userId"]
        start_date = val["date"]
        initial_energy = val["energy"]
    """count += 1
    if count == 100: break"""

last_date = str(data.iloc[-1]["date"])[-2:]
if last_date in ["28", "29", "30", "31"]:
    if data.iloc[-1]["userId"] == user_id:
        monthly_consumption = (data.iloc[-1]["energy"] - initial_energy) / (pow(10, 10))
        new_row = {"userId" : user_id, 'date': start_date, 'energy': monthly_consumption}
        rows.append(new_row)

In [6]:
column_names = data.columns

df = pd.DataFrame(rows, columns=column_names)
df.head()

                                              userId        date      energy
0  dc855763e35ff807b03cea634262f13afc6609d163df50...  2018-04-01  374.375921
1  dc855763e35ff807b03cea634262f13afc6609d163df50...  2018-05-01  347.574755
2  dc855763e35ff807b03cea634262f13afc6609d163df50...  2018-06-01  447.911430
3  dc855763e35ff807b03cea634262f13afc6609d163df50...  2018-07-01  239.528008
4  dc855763e35ff807b03cea634262f13afc6609d163df50...  2018-08-01  330.853062

In [7]:
print(f"Tot records: {df.shape}")
print(df.dtypes)
df.nunique()

Tot records: (26053, 3)
userId     object
date       object
energy    float64
dtype: object

userId      968
date         36
energy    25879
dtype: int64

In [8]:

df.to_csv("data_cleaning/all-users-monthly-data.csv", index=False, header=True)